body
{
    background-color:lightgray;
}
.flex-container {
    display: flex;
    background-color: white;
    flex-direction: column;
    border: 3px solid black;
    width:15%;
    margin-top:4%;
    margin-left:35%;

}
.flex-container > div {
         justify-content: center;
        margin: 10px;
        padding: 20px;
        font-size: 15px;


 }